

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css?version=12">


</head>
<body>

        <header>
            <div class="header">
                <nav class="menu">
                    <a class="menu-item blur-background" href="#Hi">Привет</a>
                    <a class="menu-item blur-background" href="#aboutme">Обо мне </a>
                    <a class="menu-item blur-background">Опыт</a>
                    <a class="menu-item blur-background">Проекты</a>
                  </nav>
                  <button class="write-to-me-button white-text">Напиши мне</button>
            </div>
            
        </header>


        <div class="hi" id="Hi">
            <div class="hipage" id="Hi" >

            </div>
            <div class="my-photo" style="background-image: url(/static/photos/me.png);">

            </div>
    

            <div class="my-info-container">
                <div class="detail-info">
                    <h1>Привет, я Игорь <br>
                        Python Backend Developer
                    </h1>
                    <div class="link-block">
                        <a style="margin-right: 10px;" href="#">Github</a>
                        <a style="margin-right: 10px;" href="#">Hh</a>
                        <a href="#">Mail</a>

                    </div>
                </div>
                
            </div>
            
  
        </div>

        <div style="position: relative; width: 100vw;;">
            <div style="
            
            position: absolute;
            width: 200%;
            top: -2;
            height: 20px;
            background-color: var(--bg);"></div>
        </div>
        <div class="container">

            <div class="aboutme" id="aboutme">
                <div class="aboutme-detail">
                    <h1 class="notebook_h1">Обо мне</h1>
                    <div class="notebook_cell">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias, eveniet beatae reprehenderit at reiciendis ut consequatur quo tenetur. Asperiores eos dicta architecto accusantium aliquid quasi rem explicabo! Quae, quibusdam.
                        <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque ducimus laboriosam. Nobis sed reprehenderit soluta architecto cupiditate, illo nam sapiente! Obcaecati officiis omnis voluptates ipsam doloribus quia ea placeat.
                    </div>

                </div>
                
            </div>
    
            <div class="exp">
                <h1 class="notebook_h1">Опыт</h1>
               <div class="exp-cont">
                <div class="exp-item exp1">
                    <h2>Product owner</h2>
                    <div class="exp-detail">
                        <h3>ANCOR for FMCG</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur omnis, debitis accusantium asperiores aut explicabo dolore possimus iste. Magni molestiae inventore fugit suscipit iure. Cumque delectus ea id perferendis.</p>
                        <h3 style="font-weight: 700;">Достижения</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, rem dolorem quasi id ullam expedita deleniti nihil cumque reiciendis iusto, dignissimos repudiandae sunt amet veritatis molestias odio! Deleniti, voluptatum sint.</p>
                    </div>
                </div>
                <div class="exp-item exp2">
                    <h2>Digital Transformation Spec</h2>
                    <div class="exp-detail">
                        <div class="exp-detail">
                            <h3>ANCOR for FMCG</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consequuntur omnis, debitis accusantium asperiores aut explicabo dolore possimus iste. Magni molestiae inventore fugit suscipit iure. Cumque delectus ea id perferendis.</p>
                            <h3 style="font-weight: 700;">Достижения</h3>
                            <span>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur veniam delectus minima. Eligendi voluptates doloribus velit, quibusdam eaque atque tempora voluptate iste fuga libero magnam, iusto perferendis maxime impedit magni?
                            </span>
                        </div>
                    </div>
                </div>
               </div>
            </div>
    
            <div class="projects">
                <h1 class="notebook_h1">Проекты</h1>
                <div class="project-detail">
                    <div class="project-item">
                        <h3>iLEARN</h3>
                        <p>Система обучения для FMCG</p>
                        <p>>500 пользователей</p>
                        <p>>40 тыс. материалов</p>
     
                        <div></div>
                    </div>

                    <div class="project-item">
                        <h3>iLEARN</h3>
                        <p>asdlkfjalsdf</p>
                    </div>

                    <div class="project-item">
                        <h3>iLearn</h3>
                        <p>asdlkfjalsdf</p>
                    </div>
                    

                </div>
                <div class="project-detail">
                    <div class="project-item">
                        <h3>iLEARN</h3>
                        <p>Система обучения для FMCG</p>
                        <p>>500 пользователей</p>
                        <p>>40 тыс. материалов</p>
     
                        <div></div>
                    </div>

                    

                </div>
            </div>


            <footer>
                <div class="my-vid">
                    <video src="static/video/myvid1.mp4"  autoplay muted loop="loop" class="tst">
                    </video>
                </div>
                
                <div class="callme">
                    <h2>Связаться со мной</h2>
                    <form action="">
                        <input type="text">
                        <input type="email">
                        <button>Отправить</button>
                    </form>

                </div>
            </footer>
        </div>

       
  
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap">
    <script src="static/main.js?version=11"></script>
    <style>
        
    </style>
</body>

</html>